

#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #d6be94;
  z-index: 100;
  transition: 0.5s;
}

nav ul li{
  list-style:none;
  margin: 50px 20px;
}

nav ul li a{
 text-decoration: none;
 color: white;
}
#manuBtn{
  width: 50px;
  height: 50px;
  background: #d6be94;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 100;
  cursor: pointer;
}

#manuBtn img{
  width: 20px;
  margin-top: 15px;
}











@font-face {
  font-family: "Roboto";
  src: url("https://assets.codepen.io/907368/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("https://assets.codepen.io/907368/Roboto-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("https://assets.codepen.io/907368/Roboto-Light.ttf");
  font-weight: 300;
}
body, html {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000222;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #ffe5b8;
  font-family: "Roboto";
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
:root {
  --image-1: url(https://assets.codepen.io/907368/slider-1.jpg?format=webp&quality=40);
  --image-2: url(https://assets.codepen.io/907368/slider-2.jpg?format=webp&quality=40);
  --image-3: url(https://assets.codepen.io/907368/slider-3.jpg?format=webp&quality=40);
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 20rem;
  gap: .5rem;
  margin-top: 200px;

}
.container .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: inherit;
  width: 100%;
}
.container .column-1 .item-1 {
  height: 4rem;
  animation: background 5s 150ms infinite ease-in-out;
}
.container .column-1 .item-2 {
  height: 6rem;
  animation: background 5s 274ms infinite ease-in-out;
}
.container .column-1 .item-3 {
  height: 3rem;
  animation: background 5s 350ms infinite ease-in-out;
}
.container .column-2 .item-1 {
  height: 4rem;
  animation: background 5s 150ms infinite ease-in-out;
}
.container .column-2 .item-2 {
  height: 9rem;
  animation: background 5s 274ms infinite ease-in-out;
}
.container .column-2 .item-3 {
  height: 3rem;
  animation: background 5s 350ms infinite ease-in-out;
}
.container .column-3 .item-1 {
  height: 6rem;
  animation: background 5s 280ms infinite ease-in-out;
}
.container .column-3 .item-2 {
  height: 5rem;
  animation: background 5s 95ms infinite ease-in-out;
}
.container .column-3 .item-3 {
  height: 3rem;
  animation: background 5s 350ms infinite ease-in-out;
}
.container .column .item {
  width: inherit;
  border-radius: 0.5rem;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}
@keyframes background {
  0% {
    background-image: var(--image-1);
 }
  30% {
    background-image: var(--image-1);
 }
  33% {
    background-image: var(--image-2);
 }
  63% {
    background-image: var(--image-2);
 }
  66% {
    background-image: var(--image-3);
 }
  96% {
    background-image: var(--image-3);
 }
  100% {
    background-image: var(--image-1);
 }
}








h5{
  font-family: 'Cinzel', serif;
  color: #ffe5b8;
  font-size: 20;
  margin-top: 0rem;
  width: 44%;
  margin-left: -54%;
  margin-top: -7.5%;
  
}


h6{
  font-family: 'Cinzel', serif;
  color: #ffe5b8;
  font-size: 20;
  margin-top: 0rem;
  width: 45%;
  margin-left: 52%;
  margin-top: -18.5%;
  text-align: right;
  
}



.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}
* {
  box-sizing: border-box;
}
.scroll:before, .scroll:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  border-bottom: 4px solid white;
  border-right: 4px solid white;

}
.scroll:before {
  animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.scroll:after {
  animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes down-arrow-before {
  50% {
    transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    transform: rotate(45deg) translate(70%, 70%);
  }
}
@keyframes down-arrow-after {
  50% {
    transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    transform: rotate(45deg) translate(-130%, -130%);
  }
  100% {
    transform: rotate(45deg) translate(-70%, -70%);
    opacity: 1;
  }
}
















section {
  padding: 5vw;
  width: 100%;
  height: 50%;
  max-height: 500px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.credit {
  text-align: center;
  z-index: 999;
  font-size: 0.8rem;
  a {
    color: inherit;
  }
}



h1 {
  font-weight: 800;
  margin: 1rem auto;
  font-size: clamp(3vw, 2rem, 4rem);
  text-align: center;
  max-width: 700px;
  pointer-events: none;
  display: grid;
  place-items: center;

}

.gallery {
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
  max-width: auto;
  width: 800vh;
}

.image {
  width: 30vw;
  filter: saturate(0);
  padding: 1rem;
  align-items: center;
  display: inline-flex;
}

.image:nth-child(2n) {
  width: 25vw;
}

.image:hover {
  z-index: 99999999999 !important;
  filter: saturate(1);
}

img {
  transition: 0.3s ease-out;
  overflow: hidden;
  width: 100%;
}














@media screen and (max-width: 460px){

    h5{
      font-family: 'Cinzel', serif;
      color: #ffe5b8;
      font-size: 16;
      margin-top: 0rem;
      width: 100%;
      margin-left: 0%;
      margin-top: 0%;
      text-align: center;
    }
    
    
    h6{
      display: none;
    }
  



    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
    }

    section {
      padding: 5vw;
      width: 100%;
      height: 50%;
      max-height: 500px;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -150px;
    }








    .gallery {
      margin-top: -100px;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    max-width: auto;
    width: 1000vw;
  }
  
  .image {
    width: 1000vw;
    filter: saturate(0);
    padding: 1rem;
    align-items: center;
    display: inline-flex;
  }
  
  .image:nth-child(2n) {
    width: 500vh;
  }
  
  .image:hover {
    z-index: 99999999999 !important;
    filter: saturate(1);
  }
  
  img {
    transition: 0.3s ease-out;
    overflow: hidden;
    width: 100%;
  }

  }


  




@media screen and (min-width: 1919px) {
  
  h5{
    font-family: 'Cinzel', serif;
    color: #ffe5b8;
    font-size: 25;
    margin-top: 0rem;
    width: 44%;
    margin-left: -54%;
    margin-top: -7.5%;
    
  }
  
  
  h6{
    font-family: 'Cinzel', serif;
    color: #ffe5b8;
    font-size: 25;
    margin-top: 0rem;
    width: 45%;
    margin-left: 52%;
    margin-top: -18.5%;
    text-align: right;
    
  }

  .menu a{
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--dark);
    text-decoration: none;
  }
  
}